// overwrites
$contentWidth = 920px;

// dark theme colors
$darkPrimaryBg = #141414;
$darkNavBarBg = #fb4622;
$darkSecondaryBg = #141414;
$darkTextColor = white;
$darkAltTextColor = #b9b9b9;
$darkBorderColor = alpha(#fff, 0.1);

// light theme colors
$lightNavBarBg = #fb4622;

// main theme colors
$blueAccentColor = #fb4622;
$gearColor = #252525;
$navbarLinksColor = #464646;
$linksColor = #fb4622;
$buttonColor = #fb4622;
$embedTextColor = #fb4622;

$tipGreen = #42b983;
$warningYellow = #ffe564;
$dangerRed = #c00;
